<div class="fonte-modal">
    <div class="backdrop" (click)="close()"></div>

    <div class="modal-content">

        <!-- BTN CHIUDI MODALE -->
        <div class="d-flex justify-content-start align-items-center gap-3 mb-3">
            <i class="ri-arrow-left-s-line btn-back" (click)="close()"></i>
            <span>{{path}}</span>
        </div>

        <!-- INFO FONTE -->
        <div class="container-fluid">
            <!-- TITOLO -->
            <h1 class="fonte-titolo">
                {{ fonte?.titolo }}
            </h1>

            <!-- SECOLO - ANNO -->
            <p class="fonte-secolo-anno-pill">
                {{ fonte?.secolo }}&deg; Secolo &bull; Anno {{ fonte?.anno }}
            </p>

            <!-- RIFERIMENTO -->
            <h2 class="fonte-riferimento">
                {{ fonte?.riferimento}}
            </h2>

            <!-- TRASCRIZIONE -->
            <p class="fonte-trascrizione">
                {{ fonte?.trascrizione}}
            </p>
        </div>

        <!-- CONTENITORE BTN AZIONI -->
        <div class="btn-actions-container d-flex gap-2 justify-content-center align-items-center w-100 mt-auto">

            <!-- BTN MODIFICA -->
            <button class="btn-blue btn-actions-custom" (click)="toggleEditFonteMode()" *ngIf="mode === VIEW_MODE.VIEW">
                Modifica
            </button>

            <!-- BTN ANNULLA -->
            <button class="btn-red btn-actions-custom" (click)="toggleViewFonteMode()" *ngIf="mode === VIEW_MODE.EDIT">
                Annulla
            </button>

            <!-- BTN SALVA -->
            <button class="btn-green btn-actions-custom" (click)="saveFonte()"
                *ngIf="mode === VIEW_MODE.EDIT || mode === VIEW_MODE.CREATE">
                Salva
            </button>

        </div>

    </div>
</div>